@model RoundViewModel
@*
    @{
        string stateBorderClass = "";
        string stateTextClass = "";

        if (Model.State == RoundState.Won)
        {
            stateBorderClass = "border-success";
            stateTextClass = "text-success";
        }
        if (Model.State == RoundState.Lose)
        {
            stateBorderClass = "border-danger";
            stateTextClass = "text-danger";
        }
        if (Model.State == RoundState.Push)
        {
            stateBorderClass = "border-primary";
            stateTextClass = "text-primary";
        }

        string DisplayCard(int card)
        {
            string color = "black";
            if ((card > 0x1F0B0 && card < 0x1F0D0) || card == 0x1F0A0)
            {
                color = "darkred";
            }
            return $"<span style=\"color: {color}\">&#{card};</span>";
        }
    }

    <div class="col-md-3">
        <div class="card mb-4 shadow-sm @stateBorderClass">
            <div class="card-header @stateTextClass">@Model.Name</div>
            <div class="card-body">
                <p class="card-text">
                    @foreach (var card in Model.Cards)
                    {
                        DisplayCard(card);
                    }
                </p>
            </div>
        </div>
    </div>
*@