@using BlackJack.Shared.Enums
@model List<RoundViewModel>

@{
    ViewBag.Title = "Game";
    Layout = "_Layout";
}

<div id="game-block">
    <nav class="sticky-top bg-white">
        <div class="d-flex flex-column flex-md-row justify-content-between">
            @if (Model[0].State == RoundState.None)
            {
                <a asp-action="Step" class="nav-item nav-link btn btn-primary text-white">
                    Get a card
                </a>
                <a asp-action="EndRound" class="nav-item nav-link btn btn-primary text-white">
                    Skip
                </a>
                <a asp-action="Quit" class="nav-item nav-link btn btn-primary text-white">
                    Quit
                </a>
            }
            @if (Model[0].State != RoundState.None)
            {
                <a asp-action="NextRound" class="nav-item nav-link btn btn-primary text-white">
                    Next round
                </a>
                <a asp-action="EndGame" class="nav-item nav-link btn btn-primary text-white">
                    End game
                </a>
                <a asp-action="Quit" class="nav-item nav-link btn btn-primary text-white">
                    Quit
                </a>
            }
        </div>
    </nav>

    <div id="game-cards-block" class="row">
        @foreach (var roundInfo in Model)
        {
            <partial name="_Card" model="roundInfo" />
        }
    </div>
</div>

@section Styles {
    <link href="~/css/Game/Game.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/js/Game/Game.js"></script>
}