@using BlackJack.Shared.Enums
@model List<RoundViewModel>

@{
    ViewBag.Title = "Game";
    Layout = "_Layout";
    RoundViewModel dealer = null;
    bool hideDealerCard = Model.Single(round => round.PlayerType == PlayerType.User).State == RoundState.None;
}

<div id="game-block">
    <nav>
        <div class="d-flex flex-column flex-md-row justify-content-between">
            @if (Model[0].State == RoundState.None)
            {
                <a asp-action="Step" class="nav-item nav-link btn btn-primary text-white">
                    Get a card
                </a>
                <a asp-action="EndRound" class="nav-item nav-link btn btn-primary text-white">
                    Skip
                </a>
                <a asp-action="Quit" class="nav-item nav-link btn btn-primary text-white">
                    Quit
                </a>
            }
            @if (Model[0].State != RoundState.None)
            {
                <a asp-action="NextRound" class="nav-item nav-link btn btn-primary text-white">
                    Next round
                </a>
                <a asp-action="EndGame" class="nav-item nav-link btn btn-primary text-white">
                    End game
                </a>
                <a asp-action="Quit" class="nav-item nav-link btn btn-primary text-white">
                    Quit
                </a>
            }
        </div>
    </nav>

    <div id="game-cards-block" class="row">
        @foreach (var roundInfo in Model)
        {
            @if (roundInfo.PlayerType == PlayerType.Dealer)
            {
                dealer = roundInfo;
                continue;
            }
            <partial name="_Card" model="roundInfo" />
        }
    </div>
    <div id="dealer-game-cards-block" class="row justify-content-center">
        @if (hideDealerCard)
        {
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">@dealer.PlayerName</div>
                    <div class="card-body">
                        <p class="card-text">
                            @Html.DisplayCard(CardHelper.GetCard(dealer.Cards[0].Suit, dealer.Cards[0].Rank))@Html.DisplayCard(CardHelper.BlankCard)
                        </p>
                        <div class="d-flex justify-content-between align-items-center mt-4">
                            <span>Points:</span>
                            <strong>?</strong>
                        </div>
                    </div>
                </div>
            </div>
        }
        @if (!hideDealerCard)
        {
            <partial name="_Card" model="dealer" />
        }
    </div>
</div>

@section Styles {
    <link href="~/css/Game/Game.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/js/Game/Game.js"></script>
}