@model GameCreateViewModel
@{
    ViewBag.Title = "Index";
    Layout = "_Layout";
}

<h2>Player: @Model.Players[0].Name:@Model.Players[0].Id</h2>



@*<h2>Bots:</h2>

@for (int i = 1; i < Model.Players.Count; i++)
{
<h2>@Model.Players[i].Name:@Model.Players[i].Id</h2>
}*@