@using BlackJack.Shared
@model GameMenuViewModel

@{
    ViewBag.Title = "Menu";
    Layout = "_CenterLayout";
}

<div id="game-menu-block">
    @if (Model.HasUnfinishedGame)
    {
        <button asp-action="ContinueGame" type="button" class="btn btn-primary">Continue</button>
    }
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#bot-count-modal">
        New game
    </button>
    <button type="button" class="btn btn-primary">Game history</button>
</div>

<div id="bot-count-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="bot-count-modal-title"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <form asp-action="NewGame" class="modal-content">
            <div class="modal-header">
                <h5 id="bot-count-modal-title" class="modal-title">Game creation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6>Bot count:</h6>
                <select asp-for="BotCount" id="bot-count-select-box" class="form-control">
                    @for (int i = 0; i <= BlackJackConstants.MaxBotCount; i++)
                    {
                        <option>@i</option>
                    }
                </select>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Start</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </form>
    </div>
</div>

@section Styles {
    <link href="~/css/Home/Index.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/js/Home/Index.js"></script>
}