<div *ngIf="isLoaded" id="game-block">
  <nav>
      <div class="d-flex flex-column flex-md-row justify-content-between">
        <button *ngIf="canToPlay" class="nav-item nav-link btn btn-primary text-white" (click)="step()">
          Get a card
        </button>
        <button *ngIf="canToPlay" class="nav-item nav-link btn btn-primary text-white" (click)="skip()">
          Skip
        </button>
        <button *ngIf="!canToPlay" class="nav-item nav-link btn btn-primary text-white" (click)="nextRound()">
          Next round
        </button>
        <button *ngIf="!canToPlay" class="nav-item nav-link btn btn-primary text-white" (click)="endGame()">
          End game
        </button>
        <button routerLink="/" class="nav-item nav-link btn btn-primary text-white">
          Quit
        </button>
      </div>
  </nav>

  <app-round-info [roundPlayers]="roundPlayers" [dealer]="dealer"></app-round-info>
</div>