@model IEnumerable<BlackJack.BusinessLogic.Models.PlayerViewModel>

@{
    ViewBag.Title = "Game creation...";
}

<table>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Id)</th>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
    </tr>
@foreach (var player in Model)
{
    <tr>
        <td>@Html.DisplayFor(model => player.Id)</td>
        <td>@Html.DisplayFor(model => player.Name)</td>
    </tr>
}
</table>

<form method="post" asp-controller="GameCreation" asp-action="CreateGame">
    <input type="text" name="playerName" value="Начать" />
    <input type="number" name="botCount" value="1" max="7" min="1" />
    <button type="submit">Create</button>
</form>