@model LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "_Layout";
}

<div class="bj-centered-block" id="loginBlock">
    <div class="input-group bj-centered-control">
        <div class="input-group-prepend">
            <select asp-items="@(new SelectList(Model.Players, "Id", "Name"))"
                    id="usersSelectBox" class="form-control"></select>
        </div>
        <input asp-for="PlayerName" type="text" class="form-control" id="userInputBox" />
    </div>

    <button type="button" class="btn btn-primary bj-centered-control" id="loginButton">Login</button>
</div>

<div class="bj-centered-block" id="menuBlock">
    <button type="button" class="btn btn-primary bj-centered-control" data-toggle="modal" data-target="#botCountModal">Create game</button>

    @*<a class="btn btn-primary bj-centered-control" asp-controller="Home" asp-action="">Create game</a>
    <a class="btn btn-primary bj-centered-control" asp-controller="Home" asp-action="">Game history</a>*@
</div>

<div class="modal fade" id="botCountModal" tabindex="-1" role="dialog" aria-labelledby="botCountModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="botCountModalTitle">Game creation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6>Bot count:</h6>
                <select id="botCountSelectBox" class="form-control">
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                </select>
            </div>
            <div class="modal-footer">
                <button id="startGameButton" type="button" class="btn btn-primary">Start</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script>
    var menuBlock = document.getElementById("menuBlock");
    var userInputBox = document.getElementById("userInputBox");
    var usersSelectBox = document.getElementById("usersSelectBox");
    var botCountSelectBox = document.getElementById("botCountSelectBox");

    menuBlock.style.display = "none";

    usersSelectBox.addEventListener("change", e => userInputBox.value = usersSelectBox.options[usersSelectBox.selectedIndex].innerText);

    var loginBlock = document.getElementById("loginBlock");
    window.addEventListener("load", e => {
        if (usersSelectBox.options.length != 0) {
            usersSelectBox.dispatchEvent(new Event("change"))
        }
    });

    var user;
    document.getElementById("loginButton").addEventListener("click", e => {
        $.ajax({
            url: "/Home/PlayerByName/" + userInputBox.value,
            type: "GET",
            contentType: "application/json",
            success: function (result) {
                console.log(result);
                user = result;
                loginBlock.style.display = "none";
                menuBlock.style.display = "";
            }
        });
    });

    document.getElementById("startGameButton").addEventListener("click", e => {
        if (user) {
            window.location.assign("/Game/" + user.id + "_" + botCountSelectBox.options[botCountSelectBox.selectedIndex].innerText);
        }
    });
</script>
