@{
    Layout = "_Layout";
    ViewBag.Title = string.Empty;
}

<div class="text-center">
    <form class="lead" method="post" asp-controller="StartGame" asp-action="Index">
        <button type="submit" class="btn btn-primary">Начать игру</button>
    </form>
</div>