@model UserLoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "_Layout";
}

<form asp-action="Menu" class="bj-centered-block">
    <div class="input-group bj-centered-control">
        <div class="input-group-prepend">
            <select asp-items="@(new SelectList(Model.Users, "Id", "Name"))"
                    id="usersSelectBox" class="form-control"></select>
        </div>
        <input asp-for="UserName" type="text" class="form-control" id="userInputBox" />
    </div>

    <input type="submit" class="btn btn-primary bj-centered-control" value="Login" />
</form>

<script>
    var userInputBox = document.getElementById("userInputBox");
    var usersSelectBox = document.getElementById("usersSelectBox");
    usersSelectBox.addEventListener("change", e => userInputBox.value = usersSelectBox.options[usersSelectBox.selectedIndex].innerText);
    
    window.addEventListener("load", e => usersSelectBox.dispatchEvent(new Event("change")));
</script>
