@model int

@{
    ViewBag.Title = "Game menu";
    Layout = "_Layout";
}

<div class="bj-centered-block">
    @Html.ActionLink("Create game", "CreateGame", Model, new { @class = "btn btn-primary bj-centered-control" })
    @Html.ActionLink("Game history", "Action", Model, new { @class = "btn btn-primary bj-centered-control" })
    
    @*<a class="btn btn-primary bj-centered-control" asp-controller="Home" asp-action="">Create game</a>
    <a class="btn btn-primary bj-centered-control" asp-controller="Home" asp-action="">Game history</a>*@
</div>