@model List<HistoryGameViewModel>

@{
    ViewBag.Title = "Game history";
    Layout = "_Layout";
}

<div id="game-history-block" class="my-4 w-75 mx-auto">
    @for (int i = 0; i < Model.Count; i++)
    {
        <div class="row">
            <a asp-action="Game" asp-route-id="@i" class="col btn btn-primary mb-4 shadow-sm text-decoration-none text-white rounded-0 shadow-sm">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-start flex-column">
                            <div>Player count: @Model[i].PlayerCount</div>
                            <div>Round count: @Model[i].RoundCount</div>
                        </div>
                        <small>@Model[i].CreationTime.ToString("yyyy-MM-dd HH:mm")</small>
                    </div>
                </div>
            </a>
        </div>
    }
</div>

@section Styles {
    <link href="~/css/History/Index.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/js/History/Index.js"></script>
}