@model UserViewModel

@{
    ViewBag.Title = "Login";
    Layout = "_CenterLayout";
}

<form asp-antiforgery="true" id="choose-player-block">
    <div class="input-group">
        <div class="input-group-prepend">
            <select id="player-select-box" class="form-control">
                @foreach (var userName in ViewBag.UserNames)
                {
                    <option>@userName</option>
                }
            </select>
        </div>
        <input id="player-input-box" asp-for="Name" type="text" class="form-control" />
    </div>
    <button id="login-button" type="submit" class="btn btn-primary w-100">Login</button>
</form>

@section Styles {
    <link href="~/css/Auth/Login.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/js/Auth/Login.js"></script>
    @if (!ViewData.ModelState.IsValid)
    {
        <script>
            let errorMessages = "";
            @foreach (var error in ViewData.ModelState["Name"].Errors)
            {
                @:errorMessages += "@error.ErrorMessage";
            }
            alert(errorMessages);
        </script>
    }
}