<div class="d-flex text-center h-100 justify-content-center align-items-center">
  <div id="choose-player-block">
    <div class="input-group">
      <div class="input-group-prepend">
        <select id="player-select-box" class="form-control" (change)="onChangeDropdownUser($event.target.value)">
          <option *ngFor="let userName of userNames">{{ userName }}</option>
        </select>
      </div>
      <input type="text" id="player-input-box" [(ngModel)]="user.name" class="form-control">
    </div>
    <input class="btn btn-primary w-100" type="button" value="Login" (click)="login()">
  </div>
</div>
