<div id="main-block" class="d-flex text-center h-100 justify-content-center align-items-center">
  <div id="choose-player-block">
<!--    <div class="input-group">-->
<!--      <div class="input-group-prepend">-->
<!--        <select id="player-select-box" name="player-select-box" class="form-control">-->
<!--          <option>Johny</option>-->
<!--          <option>1</option>-->
<!--          <option>2</option>-->
<!--          <option>3</option>-->
<!--          <option>4</option>-->
<!--          <option>5</option>-->
<!--          <option>6</option>-->
<!--          <option>7</option>-->
<!--        </select>-->
<!--      </div>-->
<!--      <input type="text" class="form-control">-->
<!--    </div>-->
    <div class="mb-3">
      <input type="text" class="form-control dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <div class="dropdown-menu dropdown-scrollable">
        <button class="dropdown-item">Action</button>
        <button class="dropdown-item">Action</button>
        <button class="dropdown-item">Action</button>
        <button class="dropdown-item">Action</button>
        <button class="dropdown-item">Action</button>
        <button class="dropdown-item">Action</button>
        <button class="dropdown-item">Action</button>
        <button class="dropdown-item">Action</button>
        <button class="dropdown-item">Action</button>
        <button class="dropdown-item">Action</button>
        <button class="dropdown-item">Action</button>
        <button class="dropdown-item">Action</button>
        <button class="dropdown-item">Action</button>
        <button class="dropdown-item">Action</button>
        <button class="dropdown-item">Action</button>
        <button class="dropdown-item">Action</button>
        <button class="dropdown-item">Action</button>
        <button class="dropdown-item">Action</button>
        <button class="dropdown-item">Action</button>
        <button class="dropdown-item">Action</button>
        <button class="dropdown-item">Action</button>
      </div>
    </div>

    <button class="btn btn-primary w-100">Login</button>
  </div>
</div>
