html,
body {
    height: 100%;
}

#choose-player-block > .input-group {
    margin-bottom: 5px;
}

#choose-player-block > .input-group > .input-group-prepend {
    margin-right: 5px;
}

#game-menu-block > * {
    width: 100%;
    margin: 10px;
}

#game-block > nav > div > * {
    width: 100%;
    margin: 0.6rem;
}

#game-cards-block {
    margin: 0.5rem;
}

.card-text {
    font-size: 8em;
    margin: 0;
    line-height: 8rem;
}

#login-block,
#game-menu-block,
#continue-game-button,
#game-block {
    display: none;
}
