@model RoundsHistoryViewModel
@{
    ViewBag.Title = "RoundsHistory";
    int roundIndex = 0;
}

@functions {
    string GetStateColor(RoundPlayerState state)
    {
        if (state == RoundPlayerState.Won)
        {
            return "success";
        }
        if (state == RoundPlayerState.Lose)
        {
            return "danger";
        }
        if (state == RoundPlayerState.Draw)
        {
            return "primary";
        }
        return "light";
    }

    string DisplayStateText(RoundPlayerState state)
    {
        if (state == RoundPlayerState.Won)
        {
            return "Won";
        }
        if (state == RoundPlayerState.Lose)
        {
            return "Lose";
        }
        if (state == RoundPlayerState.Draw)
        {
            return "Push";
        }
        return "Not finished";
    }
}

<div class="my-4 w-75 mx-auto">
    @foreach (var roundState in Model.PlayerStates)
    {
        <div class="card">
            <a asp-action="RoundInfo" asp-route-gameSkipCount="@ViewContext.RouteData.Values["gameSkipCount"].ToString()" asp-route-roundSkipCount="@roundIndex" class="btn btn-@GetStateColor(roundState) p-3">
                Round @(roundIndex + 1)
                @DisplayStateText(roundState)
            </a>
        </div>
        roundIndex++;
    }
</div>