<main id="main-block" class="d-flex text-center h-100 justify-content-center align-items-center">
  <div class="w-25">
    <div class="mb-3" id="login-block">
      <div class="form-group">
        <label for="userNameInput" pattern="">User name</label>
        <input pattern="^\w+$" minlength="2" maxlength="32" name="userNameInput" id="userNameInput"
               type="text" class="form-control dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
               aria-expanded="false" required autocomplete="off">
        <div class="dropdown-menu dropdown-scrollable w-25">
          <button class="dropdown-item">Bohdan</button>
          <button class="dropdown-item">Victor</button>
          <button class="dropdown-item">Myhaylo</button>
        </div>
      </div>
    </div>

    <button class="btn btn-primary w-100">Sign in</button>
  </div>
</main>
