@model PlayerViewModel

@{
    ViewBag.Title = "Login";
    Layout = "_HomeLayout";
}

<form asp-antiforgery="true" id="choose-player-block">
    <div class="input-group">
        <div class="input-group-prepend">
            <select id="player-select-box" class="form-control">
                @foreach (var playerName in ViewBag.PlayerNames)
                {
                    <option>@playerName</option>
                }
            </select>
        </div>
        <input id="player-input-box" asp-for="PlayerName" type="text" class="form-control" />
    </div>
    <button id="login-button" type="submit" class="btn btn-primary w-100">Login</button>
</form>

@section Styles {
<link href="~/css/Home/index.css" rel="stylesheet" />
}

@section Scripts {
<script src="~/js/Home/index.js"></script>
    @if (!ViewData.ModelState.IsValid)
    {
<script>
    let errorMessages = "";
    @foreach (var error in ViewData.ModelState["PlayerName"].Errors)
    {
        @:errorMessages += "@error.ErrorMessage";
    }
    alert(errorMessages);
</script>
    }
}